<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chess">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameRuleActivity"
            android:label="@string/title_game_rule" />
        <activity
            android:name=".MoveRuleActivity"
            android:label="@string/title_move_rule" />
        <activity
            android:name=".MoveSRuleActivity"
            android:label="@string/title_move_special" />
        <activity
            android:name=".MoveKingActivity"
            android:label="@string/title_move_king" />
        <activity
            android:name=".MoveQueenActivity"
            android:label="@string/title_move_queen" />
        <activity
            android:name=".MoveBishopActivity"
            android:label="@string/title_move_bishop" />
        <activity
            android:name=".MoveRookActivity"
            android:label="@string/title_move_rook" />
        <activity
            android:name=".MoveKnightActivity"
            android:label="@string/title_move_knight" />
        <activity
            android:name=".MovePawnActivity"
            android:label="@string/title_move_pawn" />
        <activity android:name=".GamePlayActivity" />
    </application>

</manifest>